body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.message-container {
  width: 600px;
  text-align: center;
}

h2 {
  font-weight: 800;
  color: #FF3366;
}

.success {
  color: green;
}

.error {
  color: #FF3366;
}
